@font-face {
  font-family: Noto sans;
  src: url(../fonts/NotoSans-Regular.ttf);
  font: 400;
  font-style: normal;
}

@font-face {
  font-family: Noto sans;
  src: url(../fonts/NotoSans-Bold.ttf);
  font: 700;
  font-style: normal;
}

@font-face {
  font-family: Syncopate;
  src: url(../fonts/Syncopate-Regular.ttf);
  font: 400;
  font-style: normal;
}

@font-face {
  font-family: Noto sans;
  src: url(../fonts/Syncopate-Bold.ttf);
  font: 700;
  font-style: normal;
}