$font-noto : "Noto Sans", sans-serif;
$font-syncopate : "Syncopate", sans-serif;

$russian-violet: #140044ff;
$citrine: #e8c822ff;
$lavender-web: #eae6feff;
$lavender-web-hover: #eae6fe0e;
$ghost-white: #f3f2f9ff;
$sea-salt: #f8f8f8;
$charcoal: #374151;
$slate-gray: #6B7280;
$french-gray: #d1d5db;
$russian-violet-2: #100736ff;
$red-pantone: #ef233c;

$background-color: $sea-salt;
$primary-color: $russian-violet;
$error-color: $red-pantone;

$form-background: $ghost-white;
$primary-hover: $lavender-web-hover;
$border-color: $french-gray;

$border-radius: 8px;
$border-radius-rounded: 16px;
$shadow-dark: $russian-violet-2;
$shadow-light: rgba(0, 0, 0, 0.1);